*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  font-size: 16px;
  background-color: #fff7e4;
}
body {
  font-family: "Inconsolata", sans-serif;
  font-size: 20px;
}

h1 {
  font-family: "Roboto Slab", serif;
  font-size: 5rem;
  letter-spacing: 0.1rem;
  line-height: 5rem;
  text-align: center;
  text-transform: uppercase;
}

#the {
  font-size: 2.5rem;
  vertical-align: top;
}

.debug {
  border: 1px solid red;
}

.row {
  margin-top: 7rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: inline-flex;
}

.content {
  width: 35%;
  margin-left: 2rem;
  margin-right: 10%;
  flex-direction: column;
}

.garden {
  width: 35%;
  margin-left: 15%;
}

.header {
  align-content: center;
  width: 100%;
}

.info {
  margin-top: 2rem;
  width: 100%;
  /* display: flex;
  flex: 1; */
}
/* @keyframes slidein {
  from {
    margin-left: 90%;
  }

  to {
    margin-left: 0%;
  } */
/* } */
