*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  font-size: 16px;
  background-color: #fff7e4;
}
body {
  font-family: "Inconsolata", sans-serif;
  font-size: 25px;
}

h1 {
  font-family: "Roboto Slab", serif;
  font-size: 40px;
  letter-spacing: 3px;
  /* font-weight: 700; */
  text-transform: uppercase;
}
.row {
  margin-top: 7rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: inline-flex;
}

.content {
  width: 35%;
  margin-left: 2rem;
  margin-right: 10%;
}
/* .debug {
  border: 1px solid red;
} */

.garden {
  width: 35%;
  /* margin: 2rem; */
  margin-left: 15%;
}

/* @keyframes slidein {
  from {
    margin-left: 90%;
  }

  to {
    margin-left: 0%;
  } */
/* } */
