*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* .debug {
  border: 1px solid red;
} */

html {
  height: 100%;
  font-size: 16px;
  background-color: #ffffff;
}
body {
  font-family: "Inconsolata", sans-serif;
  line-height: 1.5rem;
  /* font-size: 20px; */
}

h1 {
  font-family: "Roboto Slab", serif;
  font-size: 5rem;
  letter-spacing: 0.1rem;
  line-height: 5rem;
  text-align: center;
  text-transform: uppercase;
}

#canvas-destination {
  /* margin: auto; */
  width: 20%;
}

#the {
  font-size: 2.5rem;
  vertical-align: top;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.85); /* Black background with opacity */
  /* z-index: 2; Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  color: #ffffff;
  font-size: 18px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#overlay-text {
  margin: auto;
  display: none;
}
.row {
  margin-top: 7rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: inline-block;
}

.content {
  display: block;
  width: 30%;
  margin-left: 2rem;
  margin-right: 20%;
  flex-direction: column;
}

.garden {
  width: 32%;
  /* margin: auto; */
  flex-direction: column;
  margin-left: 15%;
  text-align: left;
}

.header {
  align-content: center;
  width: 100%;
}

.info {
  margin-top: 2rem;
  width: 100%;
  /* text-align: center; */
}

.center {
  margin-top: 30%;
}

#about-garden {
  text-transform: uppercase;
  /* margin: auto; */
  letter-spacing: 0.06rem;
}

.stop {
  color: #4d4647;
  text-transform: uppercase;
  text-align: center;
  margin: auto;
  letter-spacing: 0.06rem;
}

.button {
  font-family: "Inconsolata", sans-serif;
  color: #ffffff;
  font-size: 18px;
  text-transform: uppercase;
  width: 2rem;
  max-width: 500px;
  min-width: 180px;
  height: 50px;
  border-radius: 2px;
  border: solid;
  top: 25%;
  bottom: 25%;
  right: 33%;
  left: 33%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  background-color: #4d4647;
  display: block;
}

.color-tran {
  /* color: #4F4F4F; */
  color: #ffffff;
  border-color: #4f4f4f;
  -webkit-transition: color 0.25s ease-out;
  -moz-transition: color 0.25s ease-out;
  -o-transition: color 0.25s ease-out;
  transition: color 0.25s ease-out;
}

.color-tran:hover {
  color: #000000;
}

.bg-tran {
  background-color: #4f4f4f;
  -webkit-transition: background-color 0.25s ease-out;
  -moz-transition: background-color 0.25s ease-out;
  -o-transition: background-color 0.25s ease-out;
  transition: background-color 0.25s ease-out;
}

.bg-tran:hover {
  background-color: transparent;
}
