*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  font-size: 16px;
  background-color: #ffffff;
}
body {
  font-family: "Inconsolata", sans-serif;
  /* font-size: 20px; */
}

h1 {
  font-family: "Roboto Slab", serif;
  font-size: 5rem;
  letter-spacing: 0.1rem;
  line-height: 5rem;
  text-align: center;
  text-transform: uppercase;
}

#the {
  font-size: 2.5rem;
  vertical-align: top;
}

/* .debug {
  border: 1px solid red;
} */

.row {
  margin-top: 7rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: inline-flex;
}

.content {
  width: 35%;
  margin-left: 4rem;
  margin-right: 10%;
  flex-direction: column;
  /* text-align: center; */
}

.garden {
  width: 35%;
  margin-left: 15%;
}

.header {
  align-content: center;
  width: 100%;
}

.info {
  margin-top: 2rem;
  width: 100%;
  /* text-align: center; */
}

.button {
  font-family: "Inconsolata", sans-serif;
  color: #ffffff;
  font-size: 18px;
  text-transform: uppercase;
  width: 2rem;
  max-width: 500px;
  min-width: 180px;
  height: 50px;
  border-radius: 2px;
  border: solid;
  top: 25%;
  bottom: 25%;
  right: 33%;
  left: 33%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  background-color: #4d4647;
  display: block;
}

.color-tran {
  /* color: #4F4F4F; */
  color: #ffffff;
  -webkit-transition: color 0.25s ease-out;
  -moz-transition: color 0.25s ease-out;
  -o-transition: color 0.25s ease-out;
  transition: color 0.25s ease-out;
}

.color-tran:hover {
  color: #000000;
}

.bg-tran {
  background-color: #4f4f4f;
  -webkit-transition: background-color 0.25s ease-out;
  -moz-transition: background-color 0.25s ease-out;
  -o-transition: background-color 0.25s ease-out;
  transition: background-color 0.25s ease-out;
}

.bg-tran:hover {
  background-color: transparent;
}
